@keyframes slidein {
	0% {
		margin-left: -200%;
		opacity: 0;
	}
	25% {
		margin-left: -200%;
		opacity: 0.5;
	}
	50% {
		margin-left: 1%;
		opacity: .9;
	}
	75% {
		margin-left: 0;
		opacity: 1;
	}
	100% {
		margin-left: 0;
		opacity: 1;
	}
}

@keyframes slideInTop {
	0% {
		margin-top: -1000px;
	}
	25% {
		margin-top: -1000px;
	}
	50% {
		margin-top: 0;
	}
	75% {
		margin-top: -1%;
	}
	100% {
		margin-top: 0;
	}
}

@keyframes slideInBottom {
	0% {
		top: 200vh;
	}
	25% {
		top: 200vh;
	}
	50% {
		top: 0;
	}
	75% {
		top: 1%;
	}
	100% {
		top: 0;
	}
}

@keyframes guitarBody {
	0% {
		fill: #2A5254;
	}
	22% {
		fill: #2A5254;
	}
	33% {
		fill: #cb3a00;
	}
	55% {
		fill: #cb3a00;
	}
	66% {
		fill: #400122;
	}
	88% {
		fill: #400122;
	}
	100% {
		fill: #2A5254;
	}
}




// CCSTranstition Group
.cs-page-enter {
  opacity: 0;
}

.cs-page-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.cs-page-exit {
  opacity: 1;
}

.cs-page-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}