body {
	background-color: black;
}

.container {
  position: relative;
}

.content {
	padding-top: 56px;
	width:100%;
	min-height: calc(100vh);

  &.home {
  	background: #2193b0;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
		background: -o-linear-gradient(to bottom, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to bottom, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  &.about {
  	background: #1D976C;  /* fallback for old browsers */
	  background: -webkit-linear-gradient(#93F9B9, #1D976C);
	  background: -o-linear-gradient(#93F9B9, #1D976C);
	  background: linear-gradient(#93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  &.contact {
  	background: #56ab2f;  /* fallback for old browsers */
	  background: -webkit-linear-gradient(#a8e063, #56ab2f);
	  background: -o-linear-gradient(#a8e063, #56ab2f);
	  background: linear-gradient(#a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .content-title {
  	text-align: center;
  }

  .content-wrap {
  	display: table;
  	vertical-align: middle;
  	text-align: center;
  	width: 100%;

  	.content-inner {
  		display: table-cell;
  	}
  }
}

.content-enter {
  opacity: 0.5;
}

.content-enter-active {
  opacity: 1;
  transition: opacity 600ms, transform 600ms;
}

.content-exit {
  opacity: 1;
}

.content-exit-active {
  opacity: 0.5;
  transition: opacity 600ms, transform 600ms;
}



.active {
  color: red;
}